aiohttp==3.6.2
AsyncProcessScheduler==0.6.0b1
dataclasses==0.6
EasySettings==4.0.0
matplotlib==3.1.1
multiprocess==0.70.8
numpy==1.18.3
pre-commit==1.18.3
PyMODAlib==0.5.2b1
PyOpenGL==3.1.0
PyQt5==5.14.2
PyQt5-sip==12.7.0
PyQt5-stubs==5.14.2
PyQtGraph==0.10.0
scipy==1.4.1
psutil==5.7.0
qasync==0.9.4