aiohttp==3.7.4
AsyncProcessScheduler==0.9.0b1
dataclasses==0.6
EasySettings==4.0.0
matplotlib==3.1.1
multiprocess==0.70.10
numpy==1.19.2
pre-commit==1.18.3
PyGithub==1.46
PyMODAlib==0.11.2b1
PyOpenGL==3.1.0
PyQt5==5.15.1
PyQt5-sip==12.8.1
PyQt5-stubs==5.14.2
PyQtGraph==0.10.0
scipy==1.5.4
psutil==5.7.0
qasync==0.10.0
